.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid #000;
}

.logo {
  width: 200px;
}
.nav-items {
  padding: 0 0.25em;
}

.nav-items > ul {
  display: flex;
  font-size: 24px;
  padding: 0 0.25em;
  list-style-type: none;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}

.res-card {
  width: 200px;
  height: 300px;
  padding: 5px;
  margin: 1em;
  /* border: 1px solid #000; */
  transition: all 0.05s ease 0s;

}

.res-card:hover {
  cursor: pointer;
  transform: scale(0.95, 0.95);
    transform-origin: center center;
    transition: all 0.1s ease-in 0s;
}

.search {
  padding: 1em;
}

.res-logo {
  width: 100%;
}

